body {
    margin: 0;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/D7ity/Business-Project/main/hill.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

p {
    font-size: 1.5em;
    margin: 0.5em 0;
}
